// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: local(""), url("/fonts/Inter-Regular.woff2?v=3.13") format("woff2"),
    url("/fonts/Inter-Regular.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("/fonts/Inter-Medium.woff2?v=3.13") format("woff2"),
    url("/fonts/Inter-Medium.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: local(""), url("/fonts/Inter-Bold.woff2?v=3.13") format("woff2"),
    url("/fonts/Inter-Bold.woff?v=3.13") format("woff");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: local(""), url("/fonts/Inter-ExtraBold.woff2?v=3.13") format("woff2"),
    url("/fonts/Inter-ExtraBold.woff?v=3.13") format("woff");
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-weight: 400;
  color: #444;
}

body {
  position: relative;
  font-family: "Inter", "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;

  > div {
    height: 100%;
  }
}

input,
textarea,
select {
  font-family: "Inter", "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-appearance: none;
}

// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-family: "Roboto", "Inter", "SF Pro Display", -apple-system,
//     BlinkMacSystemFont, sans-serif;
// }

label {
  font-family: "Inter";
  color: #000;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button,
button:focus {
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

:focus {
  outline: none;
}

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
  }
}
@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#working-overlay {
  position: absolute;
  user-select: none;
}

.react-tiny-popover-container {
  height: initial;
}

.fc-event-main {
  overflow: hidden;
}

.fc .fc-timegrid-slot-minor {
  border-top-style: none !important;
}

.ReactModalPortal {
  height: 0;
}


.page-notice {
  position: fixed;
  left: 0;
  width: 100%;
  font-size: 1.2em;
  text-align: center;
  opacity: 1;
  z-index: 10000;
  font-size: 14px;
  color: #fff;
  height: 50px;


  > .message-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    background: #d64545;


    > .message {
      padding: 21px 0 21px 45px;
      text-align: center;
      flex: 1;
    }
  }

  .close {
    color: #fff;
    opacity: 0.8;
    top: 0;
    right: 10px;
    font-size: 2em;
    border: 0;
    line-height: 52px;
    background: none;
    cursor: pointer;
    outline: none;

    width: 45px;
    padding: 0;

    &:hover {
      opacity: 1;
    }
  }
}