// Place all the styles related to the Static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 400;
  src: local(''),
        url("/fonts/Inter-Regular.woff2?v=3.13") format("woff2"),
        url("/fonts/Inter-Regular.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 500;
  src: local(''),
        url("/fonts/Inter-Medium.woff2?v=3.13") format("woff2"),
        url("/fonts/Inter-Medium.woff?v=3.13") format("woff");
}

@font-face {
  font-family: 'Inter';
  font-style:  normal;
  font-weight: 700;
  src: local(''),
        url("/fonts/Inter-Bold.woff2?v=3.13") format("woff2"),
        url("/fonts/Inter-Bold.woff?v=3.13") format("woff");
}

/* roboto-500 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('/fonts/roboto-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('/fonts/roboto-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-v20-latin-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/roboto-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('/fonts/roboto-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('/fonts/roboto-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('/fonts/roboto-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('/fonts/roboto-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('/fonts/roboto-v20-latin-700.svg#Roboto') format('svg'); /* Legacy iOS */
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-weight: 400;
  color: #444;
}

body {
  position: relative;
  font-family: "Inter", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
  font-size: 14px;

  > div {
    height: 100%;
  }
}

input, textarea {
  font-family: "Inter", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Roboto", sans-serif;
}

h1, h2, h3, h4, h5, h6, label {
  font-family: "Roboto", "Inter", "SF Pro Display", -apple-system, BlinkMacSystemFont, sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button,
button:focus {
  outline: none;
  cursor: pointer;
  font-family: inherit;
}

:focus {
  outline: none;
}

@-ms-keyframes spin {
  from { -ms-transform: rotate(0deg); }
  to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {
      transform:rotate(0deg);
  }
  to {
      transform:rotate(360deg);
  }
}

#working-overlay {
  position: absolute;
  user-select: none;
}

.react-tiny-popover-container {
  height: initial;
}

.fc-event-main {
  overflow: hidden;
}

.fc .fc-timegrid-slot-minor {
  border-top-style: none !important;
}